.totalContainer{
    display: flex;
    flex-direction: column;
    border: black solid 1px;
    height: 100%;
}


.Container{
    display: flex;
    flex-direction: column;
    font-size: large;
    border: 5px solid black;
    justify-content: space-around;

}
.link{
    padding: 30px;
    background-color: rgb(160, 150, 150);
    flex-grow: 1;
    text-align: center;

}
.Container .link:hover{
    background-color: rgb(189, 117, 117);
    font-weight: bold;
    color: black;
}
